:root {
    --vt-c-white: #ffffff;
    --vt-c-red:#E8340C;
    --vt-c-black:#333;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, input, select {
    outline: none !important;
}
a{text-decoration: none !important;color: var(--vt-c-black)}
.input-group-addon, .input-group-btn {
    vertical-align: TOP;
}
.navbar-collapse {
    padding: 0;
}

.container {
    padding: 0;
}

.navbar {
    border-radius: 0;
    min-height: 30px;
}

.line {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    top: 10px;
}

#app {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#app .header-top-bar {
    background: #eff1f3;
    height: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: rgba(0, 0, 0, .65);
}

.glyphicon-map {
    color: var(--vt-c-red);
}
#app .nav > li > a {
    padding: 4px 0;
}

#app .navbar-right > li > a {
    padding: 4px 6px;
}

#app .header-search {
    padding: 25px 0;
}
.logo{padding: 0;}
.logo img{width: 265px;}
.search,.search-right{margin: 5px 0;}
#search-input{height: 40px;border: 1px solid var(--vt-c-red)}
#search-btn{height: 40px;color: #fff;background-color:var(--vt-c-red);border-color: var(--vt-c-red);}
#search-btn .glyphicon{font-size: 20px;}
.search-right{text-align: center;}
#hot-words {overflow: hidden;padding: 5px;font-size: 12px;}
#hot-words a{float: left;margin-right: 10px;white-space: nowrap;color: #999;}
#cart-btn{height: 46px;width: 100px;}
#cart-btn .glyphicon-shopping-cart{color:var(--vt-c-red);}
.channel-navbar{background: var(--vt-c-red);height: 50px;}
.channel,.channel a{color:var(--vt-c-white);}
.cate-title{padding: 15px 0;font-size: 18px;width: 280px;}
.channel-list{max-width: 76%;padding: 18px 0;}
.channel-item{width: 10%;}
.focus-content{height: 600px;background-color: #fff;}
#category-list{width: 280px;padding: 0;}
.category-detail-items{position: absolute;top: 0;left: 280px;background: #2e6da4;height: 600px;}
#banner-list{width: 600px;padding: 0;}
#work-list{width: 10%;padding: 0;}
